/*GENERAL*/
@font-face {
    font-family: Halogen;
    src: url('../font/HalogenbyPixelSurplus-Regular.otf');
}

@font-face {
    font-family: Conthrax;
    src: url('../font/Conthrax-BLRLraCV.otf');
}

* {
    color: var(--text);
    font-family: 'Conthrax', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    font-size: 10px;

    --background: #222;
    --text: cadetblue;
    --border: white;
    --highlight: rgba(0, 0, 0, 0.5);
    color: var(--text);
}

body {
    background: var(--background);
    background-image: url(../img/circuitBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    margin: 0 10px 0 10px;
}

/*NAVIGATION*/
#navbar {
    background: var(--highlight);
}

#navbar .left-nav-container {
    font-size: 18px;/*x1,5*/
    
    width: auto;
}

#navbar .left-nav-container p {
    margin: 0 10px 0 10px;
}

#navbar .left-nav-container a {
    height: 75px;/*x1,5*/
}

#navbar .left-nav-container a:hover {
    cursor: help;
}

#navbar .left-nav-container img {
    height:inherit;
    margin-left: 10px;
}

#navbar .nav-buttons-container {
    width: 60%;
    margin: 0 50px 0 0;
}

#navbar .nav-buttons-container a {
    border: 1px;
    border-style: inset;
    border-color: var(--border);
    margin: 2px;
    padding: 0 10px 0 10px;
    width: 150px;
    text-decoration: none;
    text-align: center;
}

#navbar .nav-buttons-container a:hover {
    cursor: pointer;
    background-image: url(../img/circuitBackground.jpg);
    background-attachment: fixed;
    background-size: 100%;
    border-style: solid;
}

#navbar .nav-buttons-container a button {
    border: none;
    background: none;
    vertical-align: middle;
    font-size: 15px;
}

#navbar .nav-buttons-container a button:hover {
    cursor: pointer;
}

#navbar .nav-buttons-container a img {  
    border: none;
    background: none;
    margin: 10px 0 10px 0;
    height: 27px;
    vertical-align: middle;
    align-self: center;
    padding: 0 5px 0 0;
}

#navbar .nav-buttons-container a img:hover {
    cursor: pointer;
}

/*PAGE SPECIFIC*/
#number-text-upper {
    font-size: 16px;
    color: #2e8b57;
    margin-bottom: 1px;
}

#number-text-lower {
    font-size: 16px;
    margin-top: 1px;
}

#contact-container {
    margin: 0 200px 0 200px;
}

#contact-container a {
    border: 3px inset var(--border);
    border-radius: 5px;
    margin: 40px;
    padding: 20px;
    width: 400px;
    height: 200px;
}

#contact-container a:hover {
    cursor: pointer;
    border-style: double;
    border-width: 10px;
    padding: 13px;
    background-color: var(--highlight);
}

#contact-container a img {
    width: 150px;
    height: auto;
}

#contact-container a button{
    font-size: 20px;
    background: none;
    border: none;
}

#contact-container a button:hover{
    cursor: pointer;
}

.button-text {
    text-decoration: none;
    transition: all 0.2s
}

#smaller {
    width: 120px !important;
}

#header {
    font-size: 100px;
    margin-bottom: 10px;
}

#additional-text {
    font-size: 30px;
    margin-top: 10px;
}