/*GENERAL*/
@font-face {
    font-family: Halogen;
    src: url('../font/HalogenbyPixelSurplus-Regular.otf');
}

@font-face {
    font-family: Conthrax;
    src: url('../font/Conthrax-BLRLraCV.otf');
}

* {
    color: var(--text);
    font-family: 'Conthrax', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    font-size: 10px;

    --background: #222;
    --text: cadetblue;
    --border: white;
    --highlight: rgba(0, 0, 0, 0.5);
    color: var(--text);
}

body {
    background: var(--background);
    background-image: url(../img/circuitBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    margin: 0 10px 0 10px;
}

/*NAVIGATION*/
#sidebar-nav {
    position: fixed;
    right: -200px;
    width: auto;
    height: auto;
    /* background-image: url('../img/circuitBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background-color: var(--highlight);
    background-size: 100%;
    z-index: 10;
    padding: 10px;

    transition: all ease-in-out 250ms;
}

#sidebar-nav div {
    align-items: normal;
}

#sidebar-nav div button {
    border: none;
    background: none;
    vertical-align: middle;
    font-size: 15px;/*x1,5 ; line added*/
}

#sidebar-nav div button:hover {
    cursor: pointer;
}

#sidebar-nav div img {  
    border: none;
    background: none;
    margin: 10px 0 10px 0;
    height: 27px;/*x1,5*/
    vertical-align: middle;
}

#sidebar-nav div img:hover {
    cursor: pointer;
}

#sidebar-nav div a {
    border: none;
    margin: 2px 0 2px 0;
    padding: 0 10px 0 10px;
}

#sidebar-nav div a:hover {
    cursor: pointer;
    background-color: var(--highlight);
}

#sidebar-nav-close {
    height: 60px;/*x1,5 ; 38 --> 47 prev*/
    padding: 0 0 0 10px !important;
    background-color: black;
}

#sidebar-nav-close button {
    float: right;
}

#sidebar-nav.sidebar-shown {
    right: 0px;
}

#navbar {
    /* background-image: url(../img/circuitBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;*/
    background: var(--highlight);
}

#navbar .left-nav-container {
    font-size: 18px;/*x1,5*/
    
    width: auto;
}

#navbar .left-nav-container p {
    margin: 0 10px 0 10px;
}

#navbar .left-nav-container a {
    height: 75px;/*x1,5*/
}

#navbar .left-nav-container a:hover {
    cursor: pointer;
}

#navbar .left-nav-container img {
    height:inherit;
}

#navbar .nav-buttons-container {
    width: 60%;
    margin: 0 50px 0 0;
}

#navbar .nav-buttons-container a {
    border: 1px;
    border-style: inset;
    border-color: var(--border);
    margin: 2px;
    padding: 0 10px 0 10px;
    width: 150px;
    text-decoration: none;
    text-align: center;
}

#navbar .nav-buttons-container a:hover {
    cursor: pointer;
    background-image: url(../img/circuitBackground.jpg);
    background-attachment: fixed;
    background-size: 100%;
    border-style: solid;
}

#navbar .nav-buttons-container a button {
    border: none;
    background: none;
    vertical-align: middle;
    /* align-self: center;*/
    
    font-size: 15px;/*x1,5 ; line added*/
}

#navbar .nav-buttons-container a button:hover {
    cursor: pointer;
}

#navbar .nav-buttons-container a img {  
    border: none;
    background: none;
    margin: 10px 0 10px 0;
    height: 27px;/*x1,5*/
    vertical-align: middle;
    align-self: center;
    padding: 0 5px 0 0;
}

#navbar .nav-buttons-container a img:hover {
    cursor: pointer;
}

#navbar .hamburger-button {
    background: none;
    border: 0;
    height: 39px;/*x1,5*/
    margin: 10px;
}

#navbar .hamburger-button img {
    height: inherit;
}

#navbar .hamburger-button:hover {
    cursor: pointer;
    background-color: var(--highlight);
}

#clown-nose {
    position: fixed;
    left: -13px;
    top: 32px;
    width: auto;
    height: auto;
    background: none;
    z-index: 10;

    transition: all ease-in-out 250ms;
}

#clown-nose:hover {
    cursor: pointer;
}


#clown-nose img {
    height: 13px;
}

#clown-nose.nose-shown {
    left: 35px;
}

/*PAGE SPECIFIC*/
#home-nav a {
    border: 3px inset var(--border);
    border-radius: 5px;
    margin: 40px;
    padding: 20px;
    width: 400px;
    height: 200px;
}

#home-nav a:hover {
    cursor: pointer;
    border-style: double;
    border-width: 10px;
    padding: 13px;
    background-color: var(--highlight);
}

#home-nav a img {
    width: 150px;
    height: auto;
}

#home-nav a button{
    font-size: 20px;
    background: none;
    border: none;
}

#home-nav a button:hover{
    cursor: pointer;
}

.button-text {
    text-decoration: none;
    transition: all 0.2s
}

#welcome {
    font-size: 100px;
    margin-bottom: 10px;
}

#welcome-info {
    font-size: 30px;
    margin-top: 10px;
}