@font-face {
    font-family: caviar_dreams;
    src: url("./fonts/caviar_dreams/CaviarDreams.ttf");
}

:root{
    --primary: #000;
    --secondary: #fff;

    color: var(--secondary);
    font-family: 'caviar_dreams', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

* {
    color: var(--secondary);
}

body {
    background-color: var(--primary);
}

/* Generic Classes */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Specific Classes */

.page-num{
    position: fixed;

    bottom: 20px;
    right: 60px;

    width: 60px;
}

.page-num p{
    margin: 5px;
}

/* #navbar{
} */

#navbar .left-nav-container{
    font-size: 12px;
    width: 35%;
}

#navbar .left-nav-container img {
    width: 50px;
}

#navbar .hamburger-button {
    background: none;
    border: 0;
}

#navbar .hamburger-button:hover {
    cursor: pointer;
}

.header-container {

}

.page-nav {

}

.arrow-button {
    background: none;
    border: 0;
}

.arrow-button:hover {
    cursor: pointer;
}

.arrow-button img {
    width: 40px;
    height: 20px;
}