@font-face {
    font-family: Halogen;
    src: url('../font/HalogenbyPixelSurplus-Regular.otf');
}

@font-face {
    font-family: Conthrax;
    src: url('../font/Conthrax-BLRLraCV.otf');
}

* {
    font-family: 'Conthrax', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    font-size: 10px;

    --c1: white;
    --c2: #ddd;
    --c3: rgb(127, 127, 127);
    --c3: rgba(127, 127, 127, 0.5);
}

body {
    background: var(--c1);
    margin: 0;
}

#navbar {
    background-color: var(--c2);
    width: auto;
    padding: 5px 10px 5px 10px;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container a {
    text-decoration: none;
}

.buttons {
    color: red;
    border: 2px red solid;
}

button {
    color: blue !important;
}

.content {
    margin: 0 10px 0 10px;
}

.icon {
    margin: 0 10px 0 10px;
}